@import "../../assets/styles/variables.scss";

.form-control {
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(38, 41, 45, 0.10);
    background: #fff;
    border-radius: 6px;
    height: initial;
    padding: 16px 12px;
    font-size: 1rem;

    &.is-valid {
        background-image: none !important;
        border-color: $border-color;
        padding-right: 12px !important;
    }

    &.is-valid:focus {
        border-color: transparent;
        box-shadow: 0 0 0 0.2rem rgba($primary, .25);
    }

    &.is-invalid {
        border: $border-width solid $form-feedback-invalid-color;
    }

    &::placeholder {
        color: $input-text-placeholder;
    }

    &:disabled {
        cursor: not-allowed;
        background: $input-disabled-bg !important;
    }
}